pkgbase = CHANGEME_BIN-git
	pkgdesc = CHANGEME_DESC
	pkgver = PKGVER-PLACEHOLDER
	pkgrel = 1
	url = https://github.com/Obscurely/CHANGEME_NAME
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = rust
	makedepends = cargo
	makedepends = binutils
	provides = CHANGEME_BIN-git
	conflicts = CHANGEME_BIN-bin
	conflicts = CHANGEME_BIN
	source = git+https://github.com/Obscurely/CHANGEME_NAME
	sha256sums = SKIP

pkgname = CHANGEME_BIN-git
