pkgbase = CHANGEME_BIN
	pkgdesc = CHANGEME_DESC
	pkgver = PKGVER-PLACEHOLDER
	pkgrel = 1
	url = https://github.com/Obscurely/CHANGEME_NAME
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = rust
	makedepends = cargo
	makedepends = binutils
	source = CHANGEME_BIN-PKGVER-PLACEHOLDER.tar.gz::https://github.com/Obscurely/CHANGEME_NAME/archive/vPKGVER-PLACEHOLDER-stable.tar.gz
	sha256sums = SKIP

pkgname = CHANGEME_BIN
